body{
font-family: Arial;
margin:0;
background:#f5f7fb;
scroll-behavior:smooth;
}

header{
text-align:center;
padding:40px;
background:#1e3a8a;
color:white;
}

.menu{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:40px;
}

.card{
background:white;
padding:20px;
border-radius:12px;
text-align:center;
text-decoration:none;
color:black;
transition:0.3s;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:80px;
}

.info{
padding:60px;
background:white;
margin:40px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

h2{
color:#1e3a8a;
}
