html{
scroll-behavior:smooth;
}

body{

font-family:'Special Elite', monospace;

margin:0;

background:#eaf6ff;

color:#003049;

}



header{

text-align:center;

padding:50px;

background:#9bd4ff;

border-bottom:4px solid #5fb6ff;

}



h1{

font-size:40px;

}



.menu{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

gap:20px;

padding:40px;

}



.card{

background:#cceaff;

padding:30px;

border-radius:10px;

text-decoration:none;

color:#003049;

text-align:center;

font-size:18px;

transition:0.3s;

border:2px solid #5fb6ff;

}



.card:hover{

background:#9bd4ff;

transform:scale(1.05);

}



.info{

background:white;

margin:50px;

padding:50px;

border-radius:10px;

border-left:8px solid #5fb6ff;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

}



h2{

color:#0077b6;

margin-bottom:20px;

}
